/* sitemap.css */
#page_sitemap {
	padding: 40px;
	text-align: center;
	margin-bottom: 530px;
}

.page_sitemap-heading {
	margin-bottom: 20px;
	font-size: xxx-large;
}

.page_sitemap-container ul {
    list-style-type: none;
    padding: 0;
}

.page_sitemap-container ul li {
    margin-bottom: 10px;
}

.page_sitemap-container ul li a {
    color: #000;
    text-decoration: none;
}

.page_sitemap-container ul li a:hover {
    text-decoration: underline;
}
