@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap");
body {
    font-family: "Tektur", sans-serif;
    background: #f4f4f4;
    overflow-x: hidden;
}
.container {
    width: 300px;
    padding: 16px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  #login-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #login-link:hover {
    background-color: #ff5722;
  }